<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @runner.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@runner.errors.count, "error") %>
      prohibited this runner from being saved:
    </h2>

    <ul>
    <% @runner.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="feature">
    <%= form_for @runner, controller: 'runners', action: 'create' do |f| %>

      <h1>Sign Up</h1>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br />
      <%= f.label :password %>
      <%= f.text_field :password %>
      <br />
      <%= f.submit "Create Runner" %>

    <% end %>

<%= link_to('Login with GitHub', '/auth/github') %>
  </div>
</div>
