<%= form_for @runner, controller: 'runners', action: 'create' do |f| %>

  <h1>Sign Up</h1>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br />
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br />
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br />
  <%= f.submit "Create Runner" %>

<% end %>

<h2>Already a member?</h2>
<h3><%= link_to "Sign In", "/signin", method: :get %></h3>
