<h2><%= @runner.username %></h2>

<p><%= @runner.first_name %> <%= @runner.last_name %></p>

<h3>Current Goals</h3>
  <% @runner.goals.each do |g| %>
    <h4><%= g.description %></h4>
    <p><%= g.completed %></p>
    <br />
  <% end %>

<h3>Ready to go for a run?</h3>

<%= form_for @runner.runs.build do |f| %>
  <%= f.hidden_field :runner_id %>
  <%= f.label "Course" %>
  <%= f.text_field :course %>
  <%= f.label "Description" %>
  <%= f.text_area :review %>
  <%= f.label "Distance" %>
  <%= f.text_field :distance %>
  <%= f.label "Rating" %>
  <%= f.text_field :rating %>
  <%= f.label "Difficulty" %>
  <%= f.text_field :difficulty %>
  <%= f.collection_select(:goal_id, Goal.all, :id, :description) %>

  <%= f.submit %>
<% end %>


<p><%= link_to "Log Out", "/logout", method: :post %></p>
