<h1>Runner Show Page</h1>

<h2>Welcome, <%= @runner.username %>!</h2>
Current goal: <%= current_goal %>
<h3></h3>

<h4>Just back from a run? Log the details <%= link_to "here!", new_runner_run_path(@runner) %></h4>

<h5>Wow, you've gone for <%= @runner.runs.count %> runs! Check them out <%= link_to "here", runner_runs_path(@runner.id) %></h5>
