<h2><%= @runner.username %></h2>

<p><%= @runner.first_name %> <%= @runner.last_name %></p>

<h3>Current Goals</h3>
  <% @runner.goals.each do |g| %>
    <h4><%= g.description %></h4>
    <p><%= g.completed %></p>
    <br />
  <% end %>

<h3>Ready to go for a run?</h3>
<%= link_to "New Run", new_run_path %>



<p><%= link_to "Log Out", "/logout", method: :post %></p>
