<h2><%= @runner.username %></h2>

<p><%= @runner.first_name %> <%= @runner.last_name %></p>

<h3>Your Current Goal</h3>
<%= current_goal %>

<h3>Log your run</h3>

<%= form_for @runner.runs.build do |f| %>
  <%= f.hidden_field :runner_id %>
  <%= f.label "Course" %>
  <%= f.text_field :course %>
  <br />
  <%= f.label "Review" %>
  <%= f.text_area :review %>
  <br />
  <%= f.label "Distance" %>
  <%= f.text_field :distance %>
  <br />
  <%= f.label "Rating" %>
  <%= f.text_field :rating %>
  <br />
  <%= f.label "Difficulty" %>
  <%= f.text_field :difficulty %>
  <h4></h4>
  <%= f.collection_select(:goal_id, @runner.goals, :id, :description) %>

  <%= f.submit %>
<% end %>


<p><%= link_to "Log Out", "/logout", method: :post %></p>
