<h2><%= @runner.username %></h2>

<p><%= @runner.first_name %> <%= @runner.last_name %></p>

<h3>Current Goals</h3>
  <% @runner.goals.each do |g| %>
    <h4><%= g.description %></h4>
    <p><%= g.completed %></p>
    <br />
  <% end %>

  <h4>Ready for a new goal?</h4>

<%= form_for @runner.goals.build do |f| %>
  
  <%= f.label "Goal description" %>
  <br />
  <%= collection_select :goal, :description, Goal.all, :description, :description %>

  <p>Or add a new goal: </p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br />
  <%= f.submit %>

<% end %>

<p><%= link_to "Log Out", "/logout", method: :post %></p>
