<h1>Runner Show Page</h1>

<h2>Welcome, <%= @runner.username %>!</h2>

<%= current_event_description %>
<br />
<%= link_to "Choose an event to train for", new_runner_event_path %>

<h4>Just back from a run? Log the details <%= link_to "here!", new_runner_run_path(@runner) %></h4>

<h4>
  Wow, you've gone for <%= @runner.runs.count %> runs!
  Check them out <%= link_to "here", runner_runs_path(@runner.id) %>
</h4>

<h4>
  <%= @runner.username %>, you have
  <%= @runner.runner_events.count %> goals.
  Check them out!
  <br />
  <% @runner.runner_events.each do |r_e| %>
    <br />
    <%= r_e.completed %>
  <% end %>
</h4>

<%=
