<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@event.errors.count, "error") %>
      prohibited this event from being saved:
    </h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>New Event Page</h1>

<h3>In the future, it would be great if this app could scrape real events from the web.</h3>

<%= form_for @event do |f| %>
  <h3><%= f.label "Create a new event" %></h3>
  <%= f.text_field :description %>
  <br />
  <%= f.submit %>
<% end %>
