<div class="feature">

  <h1>Event:</h1>
  <h2><%= @event.description %></h2>

  <button class="getFinishers" data-id="<%= @event.id %>">Get finishers</button>

  <% @finishers.each do |finisher| %>
    <div id="finisher-<%= finisher.id %>">
      <p id="finisher-<%= finisher.id %>-username"></p>
      <p id="finisher-<%= finisher.id %>-finish_time"></p>
    </div>
  <% end %>

  <h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

</div>

<script type="text/javascript" charset="utf-8">

  $(".getFinishers").on("click", function() {
    const id = parseInt(this.dataset["id"]);
    $.get("/events/" + id + ".json", function(finishers) {
      for(let i = 0; i < finishers.length; i++) {
        const finisher_id = finishers[i]["id"];
        $("#finisher-" + finisher_id).addClass("highlight");
        $("#finisher-" + finisher_id + "-username").text(`Completed by: ${finishers[i]["runner"].username}`)
        $("#finisher-" + finisher_id + "-finish_time").text(`Finish Time: ${finishers[i].finish_time} minutes`)
        $(".getFinishers").hide();
      }
    })
  })

</script>
