
<div class="feature">
  <h1><%= current_runner.username %>'s Events Index</h1>

  <ul>
    <% current_runner.runner_events.accomplished.each do |r_e| %>

        <div class="highlight">
          <h2>Congratulations on completing this event!</h2>
          <p><%= event_completed(r_e) %></p>
          <p>Completed in: <%= completed_time(current_runner, Event.find_by(id: r_e.event_id)) %> minutes</p>
          <p><%= link_to "Event Details", event_path(Event.find_by(id: r_e.event_id)) %></p>
        </div>

    <% end %>
  </ul>

  <% current_runner.runner_events.each do |r_e| %>
    <% if r_e.completed == nil %>
      <h2><%= event_completed(r_e)%></h2>
      <h3>Completed this event? Enter the details <%= link_to "here", edit_runner_event_path(r_e.id) %></h3>
      <p><%= link_to "Event Details", event_path(Event.find_by(id: r_e.event_id)) %></p>
    <% end %>
  <% end %>

  <h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

  <br />

  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
</div>
