<h1>Here's all your runs, <%= current_runner.username %>!</h1>

<% @runs.each do |run| %>
  <div class="highlight">
    <h3><%= run.course %></h3>
    <p><%= run.distance %> Miles</p>
    <button class="moreInfo" data-id="<%= run.id %>">More info</button>

    <div id="run-<%= run.id %>">
      <p id="run-<%= run.id %>-time"></p>
      <p id="run-<%= run.id %>-review"></p>
      <p id="run-<%= run.id %>-rating"></p>
    </div>
  </div>

<% end %>

<h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $(".moreInfo").on("click", function() {
      var id = $(this).data("id");
      $.get("/runs/" + id + ".json", function(run) {
        $("#run-" + id + "-time").html(`Time: ${run["time"]}`);
        $("#run-" + id + "-review").html(`Review: ${run["review"]}`);
        $("#run-" + id + "-rating").html(`Rating: ${run["rating"]}`);
      });
    });
  });

</script>
