<h1>Here's all your runs, <%= current_runner.username %>!</h1>
<% @runs.each do |run| %>

  <h3><%= run.course %></h3>
  <p><%= run.distance %> Miles</p>
  <button class="moreInfo" data-id="<%= run.id %>">More info</button>

  <div id="run-<%= run.id %>">
    <p>Time: </p><span id="run-<%= run.id %>-time"></span>
    <p>Review: </p><span id="run-<%= run.id %>-review"></span>
    <p>Rating: </p><span id="run-<%= run.id %>-rating"></span>
  </div>

<% end %>

<div id="test">

</div>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $(".moreInfo").on("click", function() {
      var id = $(this).data("id");
      $.get("/runs/" + id + ".json", function(run) {
        $("#run-" + id + "-time").html(run["time"]);
        $("#run-" + id + "-review").html(run["review"]);
        $("#run-" + id + "-rating").html(run["rating"]);
      });
    });
  });

</script>
