<h2>Run: </h2>

<h3><%= Runner.find_by(id: @run.runner_id).username %></h3>

<h3>Goal: <%= Goal.find_by(id: @run.goal_id).description %></h3>
<h3>Completed: <%= Goal.find_by(id: @run.goal_id).completed %></h3>

<p>Course: <%= @run.course %></p>
<p>Review: <%= @run.review %></p>
<p>Rating: <%= @run.rating %></p>
<p>Difficulty: <%= @run.difficulty %></p>

<%= link_to "Home", runner_path(@run.runner_id) %>
