<h1>New Goal Page</h1>

<h3>First, set a goal</h3>

<%= form_for @goal do |f| %>
  <%= f.label "Check if your goal exists here" %>
  <br />
  <%= f.collection_select(:id, Goal.all, :id, :description, include_blank: "Select a goal") %>
  <br />
  <%= f.label "Or, create a new goal" %>
  <%= f.text_field :description %>
  <br />
  <%= f.submit %>

<% end %>
